# Ignore build directory
build/

# Ignore Visual Studio files
*.vcxproj
*.vcxproj.filters
*.sln
*.user
*.vcxproj.user
*.ncb
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb

# Ignore CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile
*.cmake

# Ignore compiled object files
*.o
*.obj
*.lo
*.la
*.al
*.libs
*.dll
*.so
*.so.*
*.dylib
*.lib
*.a
*.exp
*.pdb
*.ilk
*.idb
*.DS_Store

# Ignore executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.elf

# Ignore logs and temporary files
*.log
*.tmp
*.temp
*.swp
*.DS_Store
*.~

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd